 <!--====== Start Footer Area ======-->
        <footer class="footer-area-v1 dark-bg pt-100 ">
            <div class="container">
                <div class="footer-logo text-center mb-70">
                    <a href="index.html" class="brand-logo"><img src="assets/images/logo-2.png" alt=""></a>
                </div>
                <div class="footer-widget pb-30">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="widget about-widget mb-50">
                                <h4 class="widget-title">About Us</h4>
                                <p>Quis autem vel eum iure reprehend
                                    erit quiin  voluptate velit esse quam 
                                    nihil molestiae consequatur velllu
                                    m qui dolorem eum fugiat quo</p>
                                <ul class="social-link">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="widget quick-link-widget mb-50">
                                <h4 class="widget-title">Quick Links</h4>
                                <ul class="widget-link">
                                    <li><a href="#">Latest Services</a></li>
                                    <li><a href="#">Popular News</a></li>
                                    <li><a href="#">Marketing Strategy</a></li>
                                    <li><a href="#">Meet Our Team</a></li>
                                    <li><a href="#">Latest Projects</a></li>
                                    <li><a href="#">Setting & Privecy</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="widget newsletter-widget mb-50">
                                <h4 class="widget-title">Newsletters</h4>
                                <p>We denounce with righteous indign
                                    ation and dislike men who are</p>
                                <form>
                                    <div class="form_group">
                                        <input type="email" class="form_control" placeholder="Enter Your Email" name="email">
                                    </div>
                                    <div class="form_group">
                                        <button class="main-btn">Subscribe Now</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="widget instagra-widget mb-50">
                                <h4 class="widget-title">Instagram</h4>
                                <ul class="instagram-list">
                                    <li><a href="#"><img src="assets/images/thumb-3.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="assets/images/thumb-4.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="assets/images/thumb-5.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="assets/images/thumb-6.jpg" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright-text text-center">
                    <p>Copyright &copy; 2017 - {{ "now"|date('Y') }} <span>AURORA WEB SERVICES</span>. All Rights Reserved</p>
                </div>
            </div>
        </footer>
        <!--====== End Footer Area ======-->