<!--====== Start Header ======-->
        <header class="header-area header-area-v1 transparent-header">
            <div class="header-navigation">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-6 col-lg-2">
                            <div class="site-branding">
                                <div class="brand-logo">
                                    <a href="index.html"><img src="assets/images/logo-1.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-8">
                            <div class="nav-menu">
                                <!-- Navbar Close Icon -->
                                <div class="navbar-close">
                                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                                </div>
                                <nav class="main-menu">
                                    <ul>
                                        <li class="menu-item menu-item-has-children"><a href="#">Home</a>
                                            <ul class="sub-menu">
                                                <li><a href="index.html">Home One</a></li>
                                                <li><a href="index-2.html">Home Two</a></li>
                                                <li><a href="home-onepage.html">Home Onepage 1</a></li>
                                                <li><a href="home-onepage-two.html">Home Onepage 2</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item"><a href="about.html">About</a></li>
                                        <li class="menu-item menu-item-has-children"><a href="#">Service</a>
                                            <ul class="sub-menu">
                                                <li><a href="service-1.html">Service One</a></li>
                                                <li><a href="service-2.html">Service Two</a></li>
                                                <li><a href="service-details.html">Service Details</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children"><a href="#">Portfolio</a>
                                            <ul class="sub-menu">
                                                <li><a href="portfolio-1.html">Portfolio One</a></li>
                                                <li><a href="portfolio-2.html">Portfolio Two</a></li>
                                                <li><a href="portfolio-3.html">Portfolio Three</a></li>
                                                <li><a href="single-portfolio.html">Single Portfolio</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children"><a href="#">Pages</a>
                                            <ul class="sub-menu">
                                                <li><a href="about.html">About Us</a></li>
                                                <li><a href="team.html">Our Team</a></li>
                                                <li><a href="faq.html">Faq</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-children"><a href="#">Blog</a>
                                            <ul class="sub-menu">
                                                <li><a href="blog-standard.html">Blog Standard</a></li>
                                                <li><a href="blog-details.html">Blog Details</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item"><a href="contact.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- Navbar Toggler -->
                            <div class="navbar-toggler float-end">
                                <span></span><span></span><span></span>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="nav-tools float-end">
                                <a href="#" data-bs-toggle="modal" data-bs-target="#search-modal" class="icon search-icon"><i class="far fa-search"></i></a>
                                <a href="#" class="icon off-menu"><span></span><span></span><span></span></a>
                                <div class="offcanvas-panel">
                                    <div class="offcanvas-panel-inner">
                                        <div class="panel-logo">
                                            <img src="assets/images/logo-1.png" alt="Image">
                                        </div>
                                        <div class="about-us">
                                            <h5 class="panel-widget-title">About Us</h5>
                                            <p>
                                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore ipsam alias quae cupiditate quas, neque eum magni impedit asperiores ad id sint repudiandae quaerat, omnis commodi consequatur dolore rerum deleniti!
                                            </p>
                                        </div>
                                        <div class="contact-us">
                                            <h5 class="panel-widget-title">Contact Us</h5>
                                            <ul>
                                                <li>
                                                    <i class="fal fa-map-marker-alt"></i>
                                                    121 King St, Melbourne VIC 3000, Australia.
                                                </li>
                                                <li>
                                                    <i class="fal fa-envelope-open"></i>
                                                    <a href="mailto:hello@barky.com"> hello@barky.com</a>
                                                    <a href="mailto:info@barky.com">info@barky.com</a>
                                                </li>
                                                <li>
                                                    <i class="fal fa-phone"></i>
                                                    <a href="tel:(312)-895-9800">(312) 895-9800</a>
                                                    <a href="tel:(312)-895-9888">(312) 895-9888</a>
                                                </li>
                                            </ul>
                                        </div>
    
                                        <a href="#" class="panel-close"><i class="fal fa-times"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header><!--====== End Header ======-->